div.verticalScroll card{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 1px 1px 10px black;
}

div#currentweather card{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    color: #ffffff;
    text-shadow: 1px 1px 10px black; 
    font-size: 16px;   
}

