<<<<<<< HEAD
.verticalScroll card{
    padding-top: 15px;
    margin-top: 1em;
=======
div.verticalScroll card{
    padding-top: 1em;
>>>>>>> 91d5c47d6caf9fbd2fd78d4600b14b2c299430a3
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 1px 1px 10px black;   
}

#currentweather card{
    padding-top: 15px;
    margin-top: 1em;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 10px black;  
}

#currentweather card[title]{
    margin: 0.4em;
    align-self: center;
}

#currentweather card[weather]{
    margin: 0.4em;
    align-self: center;
}

#currentweather card[desc]{
    margin: 0.4em;
    align-self: center;
}

.verticalScroll card[title]{
    margin: 0.4em;
    align-self: center;
}

.verticalScroll card[weather]{
    margin: 0.4em;
    align-self: center;
}

.verticalScroll card[desc]{
    margin: 0.4em;
    align-self: center;
}
