.events {
    font-weight: 500;
    line-height: 36px;
}

div {
    font-family: 'Helvetica Neue', arial, sans-serif;
}

.value {
    background-color: #fff;
    display: block;
    position: relative;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #000;
    margin-left: 0.4em;
    margin-bottom: 0.4em;
    margin-right: 0.4em;
    min-width: 110px;
    min-height: 25px;
    border-radius: 5px;
}

.label {
    font-size: 1.25em;
    width: 100%;
    display: block;
    text-align: left;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    color: white;
    text-shadow: 1px 1px 10px black; 
}

.days{
    font-size: 18px;
}

.schedule{
    overflow-y: auto;
    height: 585px;
    margin-top: 0.4em;
}
