.events {
    padding: 10px 0px;
    max-width: 550px;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: black;
}

.value {
    background-color: #fff;
    display: block;
    position: relative;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #000;
    margin-left: 0.4em;
    margin-bottom: 0.4em;
    margin-right: 0.4em;
    min-width: 110px;
    min-height: 25px;
    border-radius: 5px;
}

.label {
    width: 100%;
    display: block;
    text-align: left;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    background-color: #fff;
}
